<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="FileDataWBFolder" value="C:\inetpub\wwwroot\WB_WebService_GT\bin\Data_Search"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="nostra_serviceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://search-test.nostramap.com/_secure_/nostra_service.asmx" binding="basicHttpBinding" bindingConfiguration="nostra_serviceSoap" contract="ServiceReference_secure.nostra_serviceSoap" name="nostra_serviceSoap"/>
    </client>
  </system.serviceModel>
</configuration>